
Folks,

In this vlog we will learn how to download, install & setup ODI - Oracle Data Integrator 11g (11.1.1.9) on Windows 10.

Step by step installation guide:

<iframe width="560" height="315" src="https://www.youtube.com/embed/j3H__qI9-B0" frameborder="0" allowfullscreen></iframe>

You can download the Oracle Data Integrator 11g (11.1.1.9) for Microsoft Windows (x64) using this <a href="http://www.oracle.com/technetwork/middleware/data-integrator/downloads/index.html">Link</a>

<hr />

Thanks!

Happy Learning! Your feedback would be appreciated!

<a href="http://shobhitsingh.in">shobhitsingh.in</a>

